<!DOCTYPE html>
<html lang="en">

<head>

  <title>ECL E-Commerce</title>
  <link rel="stylesheet" href="/css/custom.css">
  <!-- New Multilevel Dropdown -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">


  <!-- home -->

</head>

<body>
  <% include ./partials/navbar %>

  <%- body -%>

  <% include ./partials/footer %>

  <% include ./partials/javaScript %>
</body>

</html>