<% layout('layoutPage') -%>

<div class="container" style="width:70%; min-height: 700px">
    <div class="well">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center">Signup</h3>

                    <% if (errors.length > 0) { %>
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= errors %>
                        </div>
                    <% } %>

                    <form method="POST" action="/signup">
                        <div class="form-group">
                            <label for="name"> Full Name</label>
                            <input type="text" class="form-control" name="name" value="" placeholder="Mr Abc" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" value="" placeholder="example@abc.com" required>
                        </div>
                        <div class="form-group">
                            <label for="contact">Phone</label>
                            <input type="contact" name="contact" class="form-control" value="" placeholder="01*********" required>
                        </div>
                        <div class="form-group">
                            <label for="password2">Password  </label>
                            <input type="password" name="password2" id="password" class="form-control" value="" placeholder="password must be between 6 to 20 characters" required onkeyup='check();' >
                        </div>
                        <div class="form-group">
                            <label for="password">Confirm Password  </label>
                            <input type="password" name="password" id="confirm_password" class="form-control" value="" placeholder="password should be same as entered before" required onkeyup='check();' >
                            <span id='message'></span>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="checkbox" name="isSeller" class="form-check-input">Register as a Seller</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <br>
                        <br>
                        <p>Existing user? Login here ..</p>
                        <a class="btn btn-primary" role="button" href="/login">Login</a>
                        <br>
                        <br>
                        <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
                            <i class="fa fa-facebook"></i>Sign in with facebook
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>