<% layout('layoutPage') -%>

<div class="container" style="margin-top: 100px ; width:100%; min-height: 700px">
    <h1>Successfully Order Palced, check your email for futher information</h1>
    <a href="/" align="center" class="btn btn-primary">Continue to shopping</a>
</div>